body {
  font-size: 14px; /* Adjust the base font size */
  margin: 0;
  padding: 0;
}

.parent {
  max-width: 600px; /* Adjust the maximum width of the parent container */
  margin: 0 auto; /* Center the parent container */
}
.p,
.p1 {
  margin: 0;
}
.p1 {
  font-size: 50px;
}
.b {
  width: 412px;
  height: 94px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
}
.p2,
.p3 {
  margin: 0;
}
.b1,
.div {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.b1 {
  width: 130px;
  display: inline-block;
}
.div {
  align-self: stretch;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.4px 0 0;
  box-sizing: border-box;
  min-width: 157px;
}
.div1 {
  margin-left: -102.49999999999818px;
  width: 242.4px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 139.9px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.b2 {
  height: 40.9px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  display: inline-block;
  font-family: var(--font-gmarket-sans-ttf);
  color: var(--color-black);
  text-align: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-child {
  height: 719.5px;
  width: 1601px;
  position: absolute;
  margin: 0 !important;
  top: -675px;
  left: -913px;
  border-radius: 2px;
  object-fit: contain;
}
.b3 {
  height: 40.9px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  display: inline-block;
  font-family: var(--font-gmarket-sans-ttf);
  color: var(--color-black);
  text-align: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.vector-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: 2px 0 0;
  margin-left: -102.4px;
}
.frame-button,
.frame-group,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: row;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  gap: 75.7px;
  max-width: 100%;
}
.b4,
.div2 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.div2 {
  width: 242.4px;
  font-weight: 500;
}
.b4 {
  height: 40.9px;
  flex: 1;
}
.frame,
.parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 10.3px;
  font-size: var(--font-size-6xl);
}
.parent1 {
  width: 252.7px;
  flex-direction: column;
  gap: 77.7px;
  margin-left: -91.7px;
}
.frame-container,
.frame-parent {
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  width: 543.6px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
}
.frame-container,
.frame-wrapper,
.group,
.parent {
  display: flex;
  align-items: flex-start;
}
.group {
  width: 699.4px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 244px;
  max-width: 100%;
}
.frame-wrapper,
.parent {
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
  font-family: var(--font-gmarket-sans-ttf);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 247px;
  max-width: 100%;
  text-align: center;
  color: red;
}
.parent {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 58px 64px 87.1px;
  gap: 381px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
}
@media screen and (max-width: 975px) {
  .div,
  .div1,
  .div2 {
    font-size: var(--font-size-9xl);
  }
  .frame-wrapper {
    padding-left: 123px;
    box-sizing: border-box;
  }
  .parent {
    gap: 190px;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .group {
    gap: 122px;
  }
  .frame-wrapper {
    padding-left: 61px;
    box-sizing: border-box;
  }
  .parent {
    gap: 95px;
  }
}
@media screen and (max-width: 450px) {
  .b,
  .b1 {
    font-size: var(--font-size-xl);
  }
  .div,
  .div1 {
    font-size: var(--font-size-2xl);
  }
  .b2,
  .b3 {
    font-size: var(--font-size-xl);
  }
  .frame-group {
    gap: 38px;
  }
  .div2 {
    font-size: var(--font-size-2xl);
  }
  .b4 {
    font-size: var(--font-size-xl);
  }
  .parent1 {
    gap: 39px;
  }
  .group {
    gap: 61px;
  }
}
